<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>View Project</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/viewproj.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


</head>

<body>
    <div class="header">
        <a href="/home/myproj"><img src="../images/svg/back.svg"></a>
        <div class="headline" id="slider">
            <span><span style="color: #4717f6; font-weight: bold;">VIEW</span><br>PROJECT</span>
        </div>
    </div>

    <div id="viewproj">
        <div class="container">
            <h2><%= data[0].title %><br>
                <small class="text-mutet"><span
                            style="color: #faab3d; font-weight: bold;">❮</span> <%= data[0].domain %>
                    <span style="color: #faab3d; font-weight: bold;">❯</span></small>
            </h2>
            <hr class="line">
            <div class="row memberinfo">
                <div class="col-6 teammemberinfo">

                    <ul style="list-style-type:none;">
                        <li style="text-align: center;">
                            <strong>Team members</strong>
                        </li>
                        <hr>
                        <% for (var i = 0;i < data[0].tmName.length;i++) { %>
                            <li class='teamname'>
                                <img class='studid' src="../images/svg/student.svg">
                                <div>
                                    <span class="nameStud"><%= data[0].tmName[i] %></span><br>
                                    <span class="emailStud"><%= data[0].tmEmail[i] %></span>
                                    <span class="numStud"><%= data[0].tmNum[i] %></span>
                                </div>

                            </li>
                            <hr>
                        <% } %>
                    </ul>

                </div>
                <div class="col-6 guideinfo">
                    <img src="../images/svg/tm.svg" width="540px" height="400px">
                </div>
            </div>


            <div class="row memberinfo">
                <div class="col-6 teammemberinfo">
                    <img src="../images/svg/guide.svg">
                </div>
                <div class="col-6 guideinfo">
                    <ul style="list-style-type:none;">
                        <li style="text-align: center;">
                            <strong>Guide Names</strong>
                        </li>
                        <hr>
                        <% for (var i = 0;i < data[0].guideNames.length;i++) { %>
                            <li class='teamname'>
                                <img class='studid' src="../images/svg/student.svg">
                                <div>
                                    <span class="nameStud"><%= data[0].guideNames[i] %></span>
                                </div>

                            </li>
                            <hr>
                        <% } %>
                    </ul>
                </div>
            </div>


            <div class="row memberinfo">
                <div class="col-6 teammemberinfo">
                    <ul style="list-style-type:none;">
                        <li style="text-align: center;">
                            <strong>Guide Names</strong>
                        </li>
                        <hr>
                        <% for (var i = 0;i < data[0].guideNames.length;i++) { %>
                            <li class='teamname'>
                                <img class='studid' src="../images/svg/student.svg">
                                <div>
                                    <span class="nameStud"><%= data[0].guideNames[i] %></span>
                                </div>

                            </li>
                            <hr>
                        <% } %>
                    </ul>

                </div>
                <div class="col-6 guideinfo">
                    <img src="../images/svg/hwswspec.svg" width="540px" height="400px">
                </div>
            </div>
            <br>
            <h5>Files Attached</h5>
            <div class="row filedownloads">
                <div class="col-4">
                    Abstract<br>
                    <a href="https://storage.cloud.google.com/nodejs-d0343.appspot.com/abstract_5d4ffe60d0535b64abd49beb"
                       download>
                        <img src="../images/svg/download.svg" class="downloadbtns">
                    </a>
                </div>
                <div class="col-4">
                    Team Member Info<br/>
                    <img src="../images/svg/download.svg" class="downloadbtns">
                </div>
                <div class="col-4">
                    Code<br>
                    <img src="../images/svg/download.svg" class="downloadbtns">
                </div>
            </div>
            <br>
            <div class="row filedownloads">
                <div class="col-4">
                    HW/SW Spec<br>
                    <img src="../images/svg/download.svg" class="downloadbtns">
                </div>
                <div class="col-4">
                    Report<br>
                    <img src="../images/svg/download.svg" class="downloadbtns">
                </div>
                <div class="col-4">
                    PPT's<br>
                    <img src="../images/svg/download.svg" class="downloadbtns">
                </div>
            </div>
            </form>
        </div>
    </div>
</body>

</html>